#navbar{
    position: sticky;
    display: flex !important;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--accent-color);
    padding: .6em 0;
    
}

#navbar span{
    color: #D6D6D6;
    
}

.navbar_item{
    display: inline-block;
    border: solid 2px;
    user-select: none;
    padding: .5em 1.5em;
    text-align: center;
    cursor: pointer;
    border-radius: .4em;
    margin-left: 1.2em;
}

.navbar_item:hover{
    background-color: #685068;
}

.navbar_item:hover > span{
    text-decoration: underline;
}

.navbar_item:active{
    background-color: #564256;
}

@keyframes reveal_modal {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}

#modal{
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
}

#modal_placeholder{
    background-color: rgba(0, 0, 0, 0.5);
    animation-name: reveal_modal;
    animation-duration: 0.5s;
    display: table-cell;
    vertical-align: middle;
}

#modal_container{
    background-color: var(--carte-color);
    margin: auto;
    width: 30em;
    height: 34em;
    border-radius: 1.3em;
}

.input_wrapper{
    margin: auto;
}


.form_container{
    margin: 2em;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20em;
}

.form_input_wrapper{
    line-height: 0.4em;
    text-align: center;
    margin-top: 1.2em;
    margin-bottom: 0.4em;
    margin: auto;
    width: fit-content;
    border-radius: 0.3em;
}

header{
    background-color: var(--secondary-color);
    border-radius: 1.3em 1.3em 0 0;
}

header a{
    display: inline-block;
    padding: .4em;
}

header span{
    display: inline-block;
    cursor: default;
}

#modal_dismiss_button{
    cursor: pointer;
}
.side_by_side_selector{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.side_by_side_selector span{
    padding: 0.4em;
    background-color: #D6D6D6;
    margin: 0.2em;
    transition: 0.4s all;
    line-height: 2em;
    white-space: pre-wrap;
}

.side_by_side_selector span:hover{
    cursor: pointer;
}

.side_by_side_selector span.selected{
    color: #E8E8E8;
    background-color: #7F627F;
}