:root{
    --error-color: #FC4A88;
    --primary-color: #6495ED;
    --offtone-primary-color: #92AAD6;
    --accent-color: #564256;
    --secondary-color: #FC814A;



}

html, body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}
footer{
    text-align: center;
}
.content_bubble{
    background-color: var(--offtone-primary-color);
    text-align: center;
    display: flex;
    margin-top: 20px;
    flex-flow: column;
}

.form_input_wrapper{
    margin: 0.5em 0 0.5em 1.5em;
    line-height: 0.4em;
}

.text_entry{
    background-color: transparent;
    outline: 0;
    border: 0;
    border-bottom: 2px solid black;
    transition: all 0.3s;
    width: 13em;
    display: block;
}

.text_entry:focus{
    border-bottom: 2px solid var(--secondary-color);
    width: 16em;
    margin-left: 0.25em;
}

.text_entry.input_error{
    border-color: var(--error-color);
}
.text_input_error{
    font-size: 7pt;
    color: var(--error-color);
    white-space: pre-wrap;
    transition: all 0.3ms;
    opacity: 0;
}